/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2017, 10:18:58 AM
    Author     : Hanh Nguyen <hanh.nguyentai@nashtechglobal.com>
*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.header .social {
    padding: 19.5px 0 0;
    margin-top: -3px;
    float: right;
}

.social {
    list-style: none;
    padding: 0;
}
.social li {
    display: inline-block;
    margin-right: 12px;
    position: relative;
}

.social a {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    color: #fff;
}

.social .fa {
    background: #d5d5d5;
    display: block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
}

.col-sm-push-9 {
    left: 75%;
}